section,
#p1:after,
#p2:after,
#p3:after {
    background-color: #2c3e50;
}

@keyframes pendulum {
    to { transform: rotate(70deg); }
}

@keyframes continuous {
    to { transform: rotate(360deg); }
}

#p1,
#p2,
#p3 {
    width: 24px;
    border-radius: 12px;
    position: absolute;

}

#p1 {
    height: 300px;
    left: 50%;
    margin-left: -12px;
    top: 25px;
    background-color: #e74c3c;
    transform-origin: center 50px;
    transform: rotate(-70deg);
    animation: pendulum 1.5s ease-in-out infinite alternate;
}

#p2,
#p3 {
    animation-name: continuous;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center center;
}

#p2 {
    height: 200px;
    bottom: -90px;
    background-color: #2ecc71;
    animation-duration: 3s;
}

#p3 {
    height: 90px;
    top: -35px;
    background-color: #2980b9;
    animation-duration: 1.5s;
    animation-direction: reverse;
}

#p1:after,
#p2:after,
#p3:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 3px;
    border-radius: 100%;
}

#p1:after {
    top: 40px;
}

#p2:after {
    top: 90px;
}

#p3:after {
    top: 35px;
}
